* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

body {font: 16px Helmet, Freesans, sans-serif;}

body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/** custom follows **/

html, body { height: 100%; }

body {
  background-color: #FFF;
  text-align: center;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

h1 { font-size: 1.8em; line-height: 1.1em; margin-bottom: 0.1em; }
h2 { font-size: 1.6em; line-height: 1.1em; margin-bottom: 0.5em; margin-top: 1.5em; }
h3 { font-size: 1.3em; line-height: 1.1em; margin-bottom: 0.5em; margin-top: 1.5em; }
h4 { font-size: 1.1em; line-height: 1.1em; margin-bottom: 0.5em; margin-top: 1.5em; }
p, ul, ol  { line-height: 1.6em; margin-top: 0.9em; margin-bottom: 2.0em; }

ul.posts {
  list-style-type: none;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.page {
  text-align: justify;
  width: 40em;
  margin: 0em auto 2em;
}

.page .meta {
  margin: 0.1em 0em 0.4em;
  color: #aaa;
  font-size: 0.8em;
}

.page header.site {
  border-bottom: 3px solid #000;
  padding: 2.0em 0.2em 0.6em;
  margin-bottom: 4em;
}

.page header.site span.title {
  display: inline-block;
  font-size: 2.0em;
}

.page footer.site {
  font-size: 80%;
  color: #666;
  border-top: 3px solid #000;
  margin-top: 4em;
  overflow: hidden;
}

.page footer.site .contact {
  float: left;
  margin-right: 3em;
}

.page footer.site .contact a {
  color: #8085C1;
}

.page footer.site .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.page footer.site .rss img {
  border: 0;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
