* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chromeframe { position: absolute; top: 0; }

body, select, input, textarea { color: #333; }
em   { text-decoration: underline; font-style: normal; }
ins  { background-color: #fcd700; color: #000; text-decoration: none; }
mark { background-color: #fcd700; color: #000; font-style: italic; font-weight: bold; }
input:-moz-placeholder    { color: #a9a9a9; }
textarea:-moz-placeholder { color: #a9a9a9; }
a         { color: #00f; text-decoration: none; }
a:hover   { color: #99f; text-decoration: underline; }
a:visited { color: #66f;}

/** custom follows **/
html, body { height: 100%; }
body {
  background-color: #aaa;
  text-align: center;
  font: 16px Helmet, Freesans, sans-serif;
}


h1 { font-size: 1.8em; line-height: 1.1em; margin-bottom: 0.5em; }
h2 { font-size: 1.6em; line-height: 1.1em; margin-bottom: 0.5em; margin-top: 1.5em; }
h3 { font-size: 1.3em; line-height: 1.1em; margin-bottom: 0.5em; margin-top: 1.5em; }
h4 { font-size: 1.1em; line-height: 1.1em; margin-bottom: 0.5em; margin-top: 1.5em; }
p, ul, ol { line-height: 1.6em; margin-top: 2.0em; margin-bottom: 2.0em; }
ul, ol { padding-left: 3em; }

ul.posts {
  padding-left: 0;
  list-style-type: none;
}

ul.posts li {
  line-height: 1.75em;
}

.page {
  background-color: #fff;
  border: 2px solid #999;
  border-top: 0px none; 
  text-align: justify;
  max-width: 48em;
  margin: 0em auto;
  padding: 1.5em 2.5em;
}

.page .date {
  color: #aaa;
  font-size: 0.9em;
  font-weight: bold;
  font-family: "Nimbus Sans", Liberation, Freesans, sans-serif;
}

.page P.date { margin: 0.1em 0em 0.4em; }

.page header.site {
  border-bottom: 3px solid #333;
  margin-bottom: 3em;
}

.page header.site .title {
  display: inline-block;
  padding: 0.5em 0em;
  color: #333;
  font-size: 2.0em;
  text-decoration: none;
}

.page footer.site {
  font-size: 80%;
  color: #666;
  border-top: 3px solid #333;
  margin-top: 4em;
  overflow: hidden;
}

.page footer.site .contact {
  float: left;
  margin-right: 3em;
}

.page footer.site .contact a {
  color: #8085C1;
}

.page footer.site .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.page footer.site .rss img {
  border: 0;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
